.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  app-sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: #222;
    color: white;
  }
  
  .content {
    flex-grow: 1;
    // background-image: url('assets/bg-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  